@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body{
	line-height: 17px;
	background-color: #e9ebee;
}

a {
	color: #3498DB;
	text-decoration: none;
}

.top_bar {
	width: 100%;
    min-width: 100%;
    height: 40px;
    background-color: #182C61;
    border-bottom: 0.25em solid #3B3B98;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 20px;
	font-size: 160%;
	position: relative;
	top: 9px;
	text-shadow: #3B3B98 0.5px 0.5px 0px;
	color: #ff9933;
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
    right: 1px;
    position: absolute;
    margin: 1px;
    display: inherit;
    overflow: hidden;
    width: 100%;
    top: 38px;
    background-color: #3c339c;
}

nav a{
	position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 2% 1%;
    text-align: center;
    float: none;
    display: block;
    margin: 1px;
    width: 100%;
    border-bottom: 1px solid #26258a;
}

nav a:hover {
	border-bottom: 4px solid #f1c40f;
	color: #fff;
}


.wrapper {
margin: 0 auto;
    top: 80px;
    position: relative;
    width: 99%;
    min-width: 95%;
}

.column {
      background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #b75757;
    z-index: -1;
    color: #555;
}

.user_details {
	width: 99%;
    clear: left;
    margin-bottom: 20px;
    background-color: #bce0ad;
}

.user_details_left_right {
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user_details img {
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;

}


.main_column{
	float: left; 
    width: 99%;
    z-index: -1;
    min-height: 140px;
    /* margin-left: 0; */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    box-shadow: 2px 2px 1px #D3D3D3;
}

.post_from {
	width: 100%;
}

.post_form textarea {
	width: 82.5%;
    height: 45px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    font-size: 15px;
    padding: 10px;

}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
width: 16%;
    height: 45px;
    border-radius: 30px;
    border-color: #0000FF;
    background-color: #0000FF;
    font-family: 'Bellota-BoldItalic';
    color: #fff;
    text-shadow: #182C61 1px 1px 0px;
    font-size: 130%;
    position: absolute;
    outline: 0;
    margin: 0;

}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 14px;
	padding: 0px 5px;
	min-height: 75px;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 25px;
}

#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
	border:1px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;

}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	border-radius: 5px;
	color: #616060;
	font-size: 13px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
	border: none;
	background-color: #182c61;
	color: #fff;
	border-radius: 4px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic';
	text-shadow: #182C61 1px 1px 0px;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #D35400;
	border: none;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}



.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #C0392B;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 10px;
}

.profile_left {
	top: -10px;
    width: 100%;
    margin-left: 0%;
    /* max-width: 240%; */
    /* min-width: 130px; */
    height: auto;
    float: inherit;
    position: relative;
    background-color: #12b1f3;
    /* border-right: 10px solid #F8C471; */
    color: #000000;
    /* margin-right: 40px; */
}

.profile_left img {
	min-width: 102px;
    width: 60%;
    margin: 19%;
    height: 55%;
    border: 5px solid #03409c;
    border-radius: 100%;
}
.profile_info {
        background-color: #F5B041;
    width: 100%;
    padding: 28px 10px 10px 0px;
}
 
.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}

.warning {
	background-color: #f0ad4e;
}

.default {
	background-color: #bdc3c7;
}

.success {
	background-color: #2ecc71;
}

.info {
	background-color: #3498db;
}

.deep_blue {
	background-color: #0043f0;
}

#messagephone {
    display: none;
}


.profile_left input[type="submit"] {
        width: 90%;
    height: 30px;
    border-radius: 5px;
    /* margin: 7px 0 0 7px; */
    border: none;
    color: #fff;
    margin: 5%;
}

#accept_button {
	width: 20%;
    height: 28px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #2ecc71;
}

#ignore_button {
	    width: 20%;
    height: 28px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #e74c3c;
}

.delete_button {
	height: 22px;
    width: 22px;
    padding: 0px;
    float: right;
    border-radius: 100px;
    right: -15px;
    position: relative;
}

.profile_main_column {
	    float: left;
    width: 100%;
    z-index: -1;
}

.profile_info_bottom {
    margin: 10px 0 0 20px;
}

#pro_submit {
	    border-radius: 4px;
    width: 85px;
    height: 25px;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

#message_textarea {
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;

}

#message_submit {
	height: 40px;
    width: 17%;
    margin: 0;
    position: absolute;
    border: none;
    background-color: #182c61;
    color: #fff;
    border-radius: 100%;
    font-family: 'Bellota-BoldItalic';
    text-shadow: #182C61 1px 1px 0px;
}

.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #1DA1F2;
	border-color: #3B5998;
	float: right;
	margin-bottom: 4px;
}

.message#green {
	background-color: #7ac143;
	border-color: #34af23;
	float: left;
	margin-bottom: 4px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}
#conversation {
	    position: absolute;
    margin-top: 15%;
}

.user_found_messages {
	    border-bottom: 1px solid #aa5151;
    padding: 7px 2px 14px 6px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}

#grey {
	color: #460368;
}

.resultDisplay {
	padding: 5px 5px 0 5px;
	border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a {
	float: none;
}

.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}

.liveSearchProfilePic img {
	height: 40px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}


.liveSearchText p {
	margin-left: 10px;
	font-size: 11px;
    
}

.dropdown_data_window {
    background-color: #fff;
    width: 70%;
    position: absolute;
    right: 10px;
    top: 212%;
    overflow: scroll;
    border-radius: 0 0 5px 5px
}

h4 {
    font-size: 16.5px;
}
.notification_badge {
	    padding: 3px 5px;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: red;
    position: absolute;
    left: 48%;
    top: 17%;
    /* top: -5px; */
    border-radius: 100%;

}

.results {
        width: 96%;
    background-color: #f1dede;
    margin: auto;
    border-radius: 6px
}


.resultDisplayNotification {
	height: auto;
    color: #1485BD;
    padding-bottom: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
    font-size: 80%;
    margin: 0;
}

.search {
	margin: 8px 0 0 5%;
    z-index: 11;
}

.search #search_text_input {
	border: thin solid #1e5382;
    float: left;
    height: 23px;
    outline: 0;
    width: 150px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
        padding-left: 5px;
}

.button_holder {
	background-color: #9199bf;
    border: thin solid #1e5382;
    cursor: pointer;
    float: left;
    height: 23px;
    text-align: center;
    width: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button_holder img {
	margin-top: 1px;
    width: 20px;
}

.search_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}


.search_results_footer {
	padding: 5px 4px 0 4px;
    height: 28px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #182c61;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.search_result {
	padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	width: 90%;
    height: 26px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}

.result_profile_pic {
    float: left;
    margin-right: 11px;
}


#search_hr {
	margin-bottom: 0px;
}

#small_profile_pic {
	 height: 75px;
    margin: 1px 12px 0 2px;
    float: left;

}

#settings_input {
	    border: 1px solid #ccc;
    height: 25px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 20px;

}

.settings_submit {
    height: 30px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}

iframe {
	border: 3px solid #c61616;
    border-radius: 6px;
}

.postedImage img {
	max-height: 250px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

.postedImage img.large {
	max-height: 350px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d79ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3333ff
}